html, body {
    height: 100%;
    margin: 0;
    position: relative;
  }

  h4 {
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
  }

  a {
    font-family: 'Montserrat';
    color: #777777;
  }

  .parag_black {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #000000;
  }

  .parag_white {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #ffffff;
  }

  .title_black {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000000;
  }

  .title_white {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #ffffff;
  }

  .myphoto {
    width: 350px;
    height: 370px;
  }

  .bg_main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(./static/bg_main.jpg);
    background-size: 100% 100%;
  }
  
  .centered {
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .bg_about {
    position: relative;  
    width: 100%;
    height: 100%;
    background-image: url(./static/bg_about.png);
    background-size: 100% 100%;
  }

  .bg_records {
    position: relative;         
    width: 100%;
    height: 100%;
    background-color: #763a77;
  }

  .bg_contacts {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./static/bg_contact.jpg);
    background-size: 100% 100%;
  }

  .socmed_thumbnailg {
    margin-right: 50px;
    height: 50px;
    width: 80px;
  }

  .socmed_thumbnail {
    margin-right: 50px;
    height: 80px;
    width: 80px;
  }

  .socmed {
    position: relative; 
    text-align: center;
  }

  .parag_blacksoc {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #000000;
  }

  .rec_small_bg {
    background-color:#e6e6fa;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    height: 400px;
    font-family: 'Montserrat';
    box-shadow: 0px 0px 5px 3px #e6e6fa;
  }